@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background-color: #093;
    font-family: 'Vidaloka', serif;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 0.8rem;
    box-shadow: 3px 3px 5px 2px #000a;
    background-color: white;
    color: black; /* Por defecto */

    width: 350px;
    height: 530px;

    margin: 3rem 3rem 3rem auto;
    padding: 0 1rem;
    
    font-size: 100px;
    line-height: 1;
}

.text-center {
    font-size: 150px;
}

.text-end {
    transform: scaleY(-1);
}


/* Settings */

#settings {
    display: flex;
    flex-direction: column;
    
    width: 450px;
    height: 530px;

    padding: 1rem;
    margin-top: 3rem;

    /*
    Cálculo del margen derecho del div de los settings para que la carta quede
    centrada en pantalla, y los settings a la derecha:

    (container.length/2 - card.length/2 - 1rem - settings.length)
    */
    margin-right: calc(50% - 175px - 3rem - 450px);
}

#settings .row.mb-4 {
    justify-content: space-between;
}

#cardGenerator button {
    background-color: #d00;
}


/* Timer */
div.mx-2 {
    display: flex;
    justify-content: center;
    width: 50px;
}

#timer {
    font-size: 50px;
}
