@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background-color: #093;
    font-family: 'Vidaloka', serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 0.8rem;
    box-shadow: 3px 3px 5px 2px #000a;
    background-color: white;
    color: black; /* Por defecto */

    width: 350px;
    height: 530px;

    margin: 3rem auto;
    padding: 0 1rem;
    
    font-size: 100px;
    line-height: 1;
}

.text-center {
    font-size: 150px;
}

.text-end {
    transform: scaleY(-1);
}
